/* CSS rules  */
@font-face {
    font-family: "Lexend Deca";
    src: url(../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url(../fonts/Big_Shoulders/static/BigShoulders-Bold.ttf);

    font-weight: 700;
}
/* colors  */
/* Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */

/* css global  */
* {
    box-sizing: border-box;
}

body {
    font-size: 0.938rem;
    font-family: "Lexend Deca";
    background-color: hsl(0, 0%, 95%);
}

h2 {
    font-size: 2rem;
    font-family: "Big Shoulders Display";
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75)
}


.cta {
    border-radius: 25px;
    background-color: hsl(0, 0%, 95%);
    padding: 15px 35px 15px 35px;
    color: hsl(31, 77%, 52%);
    text-decoration: none;
    transition: all 0.15s ease-in;
}
.cta:hover {
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

.cta--secondary {
    color: hsl(184, 100%, 22%);
}

.cta--tertiary {
    color: hsl(179, 100%, 13%);
}
/* css card  */

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card    {
    width: 20%;
    height: 600px;
    border-radius: 10px;
    background-color: hsl(31, 77%, 52%);
    position: relative;
}
.card:nth-of-type(2) {
    background-color: hsl(184, 100%, 22%);
}
.card:nth-of-type(3) {
    background-color: hsl(179, 100%, 13%);
}

.icon-container {
    width: 25%;
    height: 10%;
    margin-top: 10%;
    margin-left: 10%;
    background-image: url(../images/icon-sedans.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.card-container > .card:nth-child(2) > .icon-container {
    background-image: url(../images/icon-suvs.svg);
}
.card-container > .card:nth-child(3) > .icon-container {
    background-image: url(../images/icon-luxury.svg);
}

.card-content {
    line-height: 2rem;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.cta--primary, .cta--secondary, .cta--tertiary {
    position: absolute;
    left: 10%;
    bottom: 12.5%;
}
/* laptop L 1440px responsive  */
@media screen and (max-width: 1440px) {
    .card-container {
        width: 80%;
        margin-left: 10%;
    }
    .card {
        width: 100%;
    }
   }
/* laptop 1024px responsive  */
@media screen and (max-width: 1024px) {
    .card-container {
        width: 90%;
        margin-left: 5%;
    }
    .card {
        width: 100%;
    }
   }
/* tablet responsive  */
@media screen and (max-width: 768px) {
    body {
        margin: 25px 0 25px 0;
    }
    .card-container {
        flex-direction: column;
    }
    .card {
        width: 70%;
        height: 500px;  
    }
   }

   /* phone responsive  */

   @media screen and (max-width: 375px) {
    .card {
        width: 90%;
        height: 500px;  
    }
   }